#view {
    display: block;
    text-align: center;
    font-size: 22pt;
}
.ctrl {
    width: 200px;
    position: relative;
}
input {
    /*display: block;*/
    width: 10%;
}
.good {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: 1px solid silver;
}
/*.good .option {*/
/*    display: none;*/


/*}*/

/*body {*/
/*    color: cornflowerblue;*/
/*}*/

div {
    color: cornflowerblue;
}

body {
    margin: 5px 0 5px 5px;
    font-family: "Comic Sans MS", sans-serif;
    color: cornflowerblue;
    background-color: cornsilk;
}

h1 {
    /*position: right;*/
    font-size: 4em;
    font-weight: 70;
}

h2 {
    position: relative;
    font-size: 3em;
    font-weight: 70;
}

h3 {
    position: static;
    font-size: 2em;
    font-weight: 70;
}

h4 {
    position: relative;
    font-size: 1.5em;
    font-weight: 70;
}

h5 {
    position: relative;
    font-size: 1em;
    font-weight: 70;
    text-align: center;
    color: #fff;
}

p {
    position: relative;
    font-size: 2em;
    font-weight: 30;
}
input[type="text"]{
    width: 40px;
    margin-left: 50px;
}
/*.nav {*/
/*    !*position: right;*!*/
/*    font-size: 1.4em;*/
/*    font-weight: 70;*/
/*    color: #fff;*/
/*}*/
