body {
    font-family: 'Roboto Slab';
    text-align: center;
    margin: 20px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

button {
    padding: 10px;
    background-color: #69A1CA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
#config {
  padding: 0 18px;
  background-color: #cccccc20;
  overflow: auto;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#canvas {
	margin-top:20px;
}