/* RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

input {
    max-width: 400px;
    padding: 6px 10px;
    margin: 10px 0;
    background: transparent;
    border: 1px solid black;
    outline: none;
}

button {
    background-color: black;
    color: white;
    outline: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    max-width: 400px;
    padding: 6px 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#result {
    text-align: center;
    font-size: 16px;
    height: 28px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    padding: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.cesium-credit-textContainer {
    display: none;
}


#map {
    cursor: pointer;
    width: 100vw;
    height: 100vh;
}

.window {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
}

.btns_left {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    z-index: 100;
}

.btns_right {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 100;
}

.btns_left button,
.btns_right button {
    border: 1px solid white;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 432px) {
    .window {
        left: 20px;
        padding: 10px;
    }

    #result {
        font-size: 14px;
    }
}