body {
	font-family: Arial, sans-serif;
	background-color: #343a40;
	padding: 10px;
	color: #f8f9fa;
}
.input-field, .button-field {
	margin: 10px 0;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1em;
	color: #adb5bd;
}
input[type="number"] {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 2px solid #ccc;
	font-size: 1em;
	color: #343a40;
	background-color: #f8f9fa;
}
button {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	color: white;
	background-color: #007bff;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	font-size: 1em;
}
button:hover {
	background-color: #0056b3;
}
h1, h2 {
	text-align: center;
	font-size: 1.5em;
	color: #f8f9fa;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.col-2{
	width:50%;
	margin: 0 1%;
}

.container{
	max-width:95%;
}

.full-width{
	max-width:80%;
	min-width:60%;
	margin:5%;
}

.stretch-w {
	width:100%;
	margin:0%;
	max-width:100%;
}

.bg-white {
	background-color: white;
}


@media only screen and (max-width: 768px) {
	.full-width{
		max-width:90%;
		min-width:90%;
	}
}